<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='baza.css') }}">
    <title>GRENKASITE.COM</title>
</head>
<body>
    <h1>Заказ тура</h1>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSdDd7VzjwRyfJlH4tjv4nYm9fBZQ8H8FmSjK7VcGwDnI8iKjQ/viewform">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="entry.2005620554">
        <label for="email">Email:</label>
        <input type="email" id="email" name="entry.1045781291"><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>